<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>Document</title>
</head>

<body>
    

    <!--Body of the page (hero section)-->

    <div class="container">
        <div class="row ">
            <div class="col-md-7" style="margin-top: 9rem;">
                <div class="lines"></div>
                <div class="lines"></div>

                <h1 style="font-weight: bold">Keep Noticing, Keep Taking Notes</h1>
                <p>Got an interesting note ? click below to add it</p>
                <a class="custom-btn btn" asp-action="Add" asp-controller="Notes">Add New Note</a>

                <div class="lines"></div>
                <div class="lines"></div>
            </div>

            <div class="col-md-5 container">
                <br />
                <img class="hero-img" src="/images/bulb.jpg" alt="bulb">

            </div>
        </div>
    </div>

   
    


</body>

</html>