@model IEnumerable<Note>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br /> 
<div class="container">
    <div class="row mt-4 pb-3 p-2">
        <div class="col-6">
            <h1 style="font-weight: bold">All Notes</h1>
        </div>

        <div class="col-6 text-end">
            <a class="custom-btn btn" asp-action="Add" asp-controller="Notes">Add New Note</a>
        </div>
    </div>

    @foreach (var note in Model)
    {
        <div class="card container">
            <div class="row">
                <div class="col-1">
                    <i class=" bi bi-square-fill" style="color: @note.TitleColor;"></i>
                </div>

                <div class="col-5">
                    <h6>Note Title: <span class="note-info">@note.Title</span></h6>
                </div>

                <div class="col-3">
                    <h6>Total Words: <span class="note-info">@note.CalcLength().ToString()</span></h6>
                </div>

                <div class="col-3 text-end">
                    <p>
                        
                         <a asp-action="View" class="custom-links"><i class="bi bi-folder2-open"></i>&nbspView</a>
                         <a asp-action="Edit" asp-controller="Notes" asp-route-id="@note.Id" style="margin-left:1rem" class="custom-links"><i class="bi bi-pencil"></i>&nbsp;Edit</a>
                         
                         
                        
                    </p>
                </div>
            </div>
        </div>
     }


