@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}



.lines {
    background-color: rgb(255, 183, 0);
    width: 100%;
    height: .25rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hero-img {
    width: 100%;
}

body {
    background-color: #eadfb8;
    font-family: Poppins, sans-serif;
}

.navs {
    color: black;
    transition: 0.15s;
    text-decoration: underline;
    font-weight: 100;
}

.navs:hover {
    color: white;
    transform: scale(1.025);

}

.navs:active {
    transform: scale(1);
    color: black;
}

.custom-btn {
    transition: 0.15s;
    width: 10rem;
    color: black;
    background-color: rgb(255, 183, 0);
    text-decoration: none;


}

.custom-btn:hover {
    transform: scale(1.05);
    background-color: white;
    color: black;
    box-shadow: 10px 10px rgb(255, 183, 0);

}

.custom-btn:active {
    transform: scale(1);
    background-color: rgb(255, 183, 0);
    color: black;
}


.color-tag {
    width: 4%;
    height: 100%;
    background-color: crimson;
    margin-left: .5rem;
    border-radius: 10px;
    display: inline-block;
}

.note-info {
    font-weight: 400;
}

.card {
    height: 4rem;
    margin: auto;
    padding: 20px 15px;
    width: 100%;
    margin-bottom: 1rem;
    transition: .2s ease;
}
.card:hover {
    transform: scale(1.015);
    background-color: #eee;
    
}

.col-md-6 {
    width: 50%;

}

.normal-input {
    width: 80%;
    display: block;
    height: 2rem;
    border: none;
    border-bottom: .5px solid black;
    padding: 1rem;
    padding-left: 0;
    margin-bottom: 1rem;
    margin-top: .5rem;
    background-color: transparent;
    transition: 0.15s ease;
}
.normal-input:focus {
    outline: none !important;
    
    border-bottom: 5px solid rgb(255, 183, 0);
}

.content-input {
    width: 100ch;
    display: block;
    height: 10rem;
    border: .5px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
    border-radius: 1px;
    background-color: transparent;
    transition: 0.15s ease;
    
}
.content-input:focus {
    outline: none !important;
    background-color: white;
    border: 2.5px solid rgb(255, 183, 0);

}

.custom-select {
    width: 20%;

    
}

.custom-links {
    text-decoration: none;
    color: rgb(255, 183, 0);
    font-weight: 300;
}



@media only screen and (max-width: 1400px) {

    .col-md-6 {
        width: 100%;

    }

    .hero-img {
        display: none;
    }

    .card {
        height: 6rem;
        padding: 30px 15px;
        
    }

}